<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="media/images/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="media/style/style.css">
    <title>About Us</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                    <a class="navbar-brand" href="/">Email Generator</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" href="/about">About</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
        <div class="container my-3">
            <div class="card mb-3">
                    <img src="media/images/logo.jpg" class="card-img-top" alt="Nirma university logo">
                    <div class="card-body">
                        <h2 class="card-title">About Us</h2>
                        <p class="card-text">This website helps you to send automated bulk emails in a few clicks.<br>You just need to upload a notepad file which contains the email template with %PLACEHOLDERS%. The %PLACEHOLDERS% will get replaced by excel file data and email will be sent to the respective recipient.<br>This platform can help you and your organization to save a ton of time from doing manual work.</p>
                        <p>Reach us at <img class="material-icons" src="media/images/gmail.svg"> <a href="mailto:ec.project@nirmauni.ac.in"> ec.project@nirmauni.ac.in</a></p>
                        <div class="text-center">
                            <img src="media/images/sample.PNG" class="img-thumbnail" alt="sample.txt file">
                            <img src="media/images/demo.png" class="img-thumbnail" alt="sample.txt file">
                            <img src="media/images/email1.png" class="img-thumbnail" alt="sample.txt file">
                            <img src="media/images/email2.png" class="img-thumbnail" alt="sample.txt file">
                        <div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>

                <div class="footer container-fluid">
                    <div class="row justify-content-md-center pt-2">
                      <div class="col col-lg-2">
                        <h2>Developers</h2>
                        <p>Anish Gupta <a href="https://www.linkedin.com/in/anish-gupta-a28a20191/" target="__blank"><i class="fa fa-linkedin-square"></i></a>
                        <br>Aditya R   <a href="https://www.linkedin.com/in/aditya-r-811164191/" target="__blank"><i class="fa fa-linkedin-square"></i></a></p>
                      </div>
                      <div class="col-md-auto">
                      </div>
                      <div class="col col-lg-2">
                        <h2>Mentors</h2>
                        <p>Purvansh Shah  <a href="https://www.linkedin.com/in/purvansh-shah/" target="__blank"><i class="fa fa-linkedin-square"></i></a>
                        <br>Sachin Gajjar <a href="https://www.linkedin.com/in/dr-sachin-gajjar-805816a/" target="__blank"><i class="fa fa-linkedin-square"></i></a></p>
                      </div>
                    </div>
                    <div class="text-center my-2"> Copyright © 2021 Email Generator</div>
                </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>